/*=======================================================================
    Modern Schooling Styles Starts
=========================================================================*/

@use "hero_banner";
@use "brand";
@use "categorie";
@use "faq";
@use "call_to_action";

/*=======================================================================
    Modern Schooling Styles End
=========================================================================*/
