/*=======================================================================
    Language Academy Styles Starts
=========================================================================*/

@use "hero_banner";
@use "features";
@use "faq";
@use "video";

/*=======================================================================
   Language Academy Styles End
=========================================================================*/