/*=======================================================================
    Remote Training Styles Starts
=========================================================================*/

@use "hero_banner";
@use "about";
@use "faq";
@use "call_to_action";

/*=======================================================================
    Remote Training Styles End
=========================================================================*/
